.text-center {
	text-align: center;
}

.p-0 {
	padding: 0 !important;
}

.border-0 {
	border: none !important;
}

.blur-effect {
	opacity: 0.3;
	transition: opacity 0.3s linear;

	&:hover {
		opacity: 1;
	}
}
