@import 'vars';
@import 'mixins';

/* Common rules
================================ */
body {
	margin: 0;

	font-family: $font-Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;

	background-color: #fff;
}

.no-scroll {
	overflow: hidden;
}

p {
	margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}
/* Vendors
============================ */
@import 'vendor/slick';
/* Helpers
=========================== */
@import '_helpers';
/* Grid
=========================== */
@import 'blocks/grid';
/* Blocks
========================== */
@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/nav';
@import 'blocks/burger';
@import 'blocks/login';
@import 'blocks/btn';
@import 'blocks/intro';
@import 'blocks/hosting-main-features';
@import 'blocks/domains';
@import 'blocks/form';
@import 'blocks/features';
@import 'blocks/plan';
@import 'blocks/plan-item';
@import 'blocks/testimonials';
@import 'blocks/blog';
@import 'blocks/article';
@import 'blocks/contacts';
@import 'blocks/subscribe';
@import 'blocks/footer';
