.article {
	padding: 20px 20px;
}

.article__line {
	width: 100%;
	height: 1px;

	background-color: #f7f8fa;
}

.aritcle__heart {
	width: 11px;
	height: 10px;
}

.article__title {
	display: block;

	font-family: $font-Roboto;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	line-height: 1.3;
	text-align: left;
	text-decoration: none;

	transition: color 0.2s linear;

	&:hover {
		color: $color-secondary;
	}

	@media #{$breakpoint-576} {
		font-size: 16px;
	}
}
.article__date {
	margin-right: 30px;

	@include PTSans(12px, 400, 2.5, #5e5e5e);

	@media #{$breakpoint-400} {
		margin-right: 0px;
		display: block;
	}
}
.article__comments,
.article__likes {
	margin-right: 20px;

	@include PTSans(12px, 700, 2.5, #000);

	@media #{$breakpoint-400} {
		margin-right: 10px;
	}
}

.article__content {
	@include PTSans(14px, 400, 1.4, #000);
}

.article__img {
	display: block;
	width: 100%;
	max-width: 170px;
}

.article__link {
	color: $color-secondary;

	&:hover {
		color: darken($color-secondary, 10%);
	}
}
