/* Buttons
============================== */
.btn {
	font-family: $font-PTSans;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	color: $color-primary;
	text-transform: uppercase;

	cursor: pointer;
	background-color: transparent;
	border: 0;

	transition: color 0.2s linear, background 0.2s linear;
}

.btn__login {
	padding: 15px 30px;
	border: 1px solid $color-secondary;

	&:hover {
		color: $color-secondary;
		background: $color-primary;
	}
}

.btn__intro {
	display: block;
	margin: 0 auto;
	padding: 18px 69px;

	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;

	background-color: $color-secondary;

	&:hover {
		color: $color-secondary;
		background-color: $color-primary;
	}
}

.btn__domains {
	height: 50px;
	width: 140px;
	padding: 0;

	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;

	background-color: $color-secondary;

	&:hover {
		background-color: darken($color-secondary, 10%);
	}

	@media #{$breakpoint-576} {
		width: 100px;
	}

	@media #{$breakpoint-400} {
		width: 90px;

		font-size: 12px;
	}
}

.btn--plan-item {
	width: 80%;
	padding: 18px 20px;
	margin-bottom: 15px;
	margin-top: 20px;

	font-size: 14px;
	font-weight: 700;

	background-color: #2c3039;

	&:hover {
		background-color: $color-secondary;
	}
}

.btn--red {
	background-color: $color-secondary;

	&:hover {
		color: $color-secondary;
		background-color: $color-primary;
	}
}

.btn--blog {
	display: block;
	width: 218px;
	padding: 18px 20px;
	margin: 50px auto 0;

	font-size: 14px;
	font-weight: 700;

	background-color: #2c3039;

	&:hover {
		background-color: $color-secondary;
	}

	@media #{$breakpoint-400} {
		width: 150px;
	}
}

.btn--subscribe {
	width: 80px;
	height: 40px;
	padding: 12px 20px;

	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;

	background-color: $color-secondary;

	&:hover {
		background-color: darken($color-secondary, 10%);
	}
}
