/* Contacts
============================== */
.contacts {
	position: relative;
	z-index: 1;

	& > iframe {
		opacity: 0.3;

		transition: opacity 0.3s linear;

		&:hover {
			opacity: 1;
		}

		@media #{$breakpoint-992} {
			opacity: 1;
		}

		@media #{$breakpoint-576} {
			display: none;
		}
	}
}

.contacts__inner {
	max-width: 450px;
	padding: 10px;

	border-radius: 20px;
	background-color: rgba(#fff, 80%);

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;

	transform: translate(-100%, -50%);

	@media #{$breakpoint-576} {
		max-width: 100%;
		position: relative;
		left: 0;
		top: 0;

		transform: translate(0, 0);

		text-align: center;
	}
}

.contacts__title {
	margin-bottom: 30px;

	font-family: $font-Roboto;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.3;
	color: #000;

	@media #{$breakpoint-768} {
		font-size: 25px;
	}
}

.contacts__suptitle {
	display: none;
	margin-bottom: 30px;

	font-family: $font-Roboto;
	font-size: 40px;
	font-weight: 300;
	line-height: 1.3;
	color: #000;

	@media #{$breakpoint-576} {
		display: block;
	}
}

.contacts__address {
	margin-bottom: 50px;

	@include PTSans(18px, 400, 1.1, #000);
	font-style: normal;
}
.contacts__time {
	@include PTSans(12px, 400, 1.7, #000);
}
.contacts__tel {
	@include PTSans(16px, 400, 1.25, #000);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.contacts__mail {
	margin-left: 40px;

	@include PTSans(16px, 400, 1.25, $color-secondary);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	@media #{$breakpoint-576} {
		display: block;
		margin-left: 0;
		margin-bottom: 30px;
	}
}
