/* Form
========================== */
.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 40px;
}

.form--subscribe {
	margin-bottom: 0;
	padding: 10px 0;

	align-items: center;
	justify-content: flex-end;

	border-left: 1px solid rgba(#fff, 10%);

	@media #{$breakpoint-768} {
		justify-content: center;
	}

	@media #{$breakpoint-576} {
		border-left: none;
	}
}

.form__group {
	height: 70px;
	padding: 10px;
	display: flex;
	align-items: center;

	background: #000 url('../images/form-bg.jpg') no-repeat center / cover;
}

.form__group--subscribe {
	height: 40px;
	background: none;

	@media #{$breakpoint-400} {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

.form__text {
	@include PTSans(12px, 400, 1.7, $color-primary);
	text-transform: uppercase;

	@media #{$breakpoint-768} {
		font-size: 11px;
		text-align: center;
	}

	@media #{$breakpoint-400} {
		width: 100%;
		margin-bottom: 15px;
	}
}

.input {
	height: 50px;
	width: 400px;
	margin: 0;
	padding: 0;

	@include PTSans(16px, 400, 1, #000);

	border: 0;
	outline: 0;

	@media #{$breakpoint-768} {
		width: 300px;
	}

	@media #{$breakpoint-576} {
		width: 190px;
	}

	@media #{$breakpoint-400} {
		width: 90px;

		font-size: 14px;
	}
}

.input--subscribe {
	height: 40px;
	width: 295px;

	font-size: 14px;
	color: $color-third;

	@media #{$breakpoint-992} {
		width: 240px;
	}

	@media #{$breakpoint-768} {
		width: 140px;
	}
}

.select {
	height: 50px;
	width: 80px;
	padding: 0;

	@include PTSans(16px, 400, 1, #000);

	background-color: #fff;
	border: 0;
	outline: 0;

	@media #{$breakpoint-576} {
		width: 65px;
	}

	@media #{$breakpoint-400} {
		width: 60px;

		font-size: 14px;
	}
}
