/* Form
========================== */
.form {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.form--subscribe {
	margin-bottom: 0;
	padding: 10px 0;

	align-items: center;
	justify-content: flex-end;

	border-left: 1px solid rgba(#fff, 10%);
}

.form__group {
	height: 70px;
	padding: 10px;
	display: flex;
	align-items: center;

	background: #000 url('../images/form-bg.jpg') no-repeat center / cover;
}

.form__group--subscribe {
	height: 40px;
	background: none;
}

.input {
	height: 50px;
	width: 400px;
	margin: 0;
	padding: 0;

	font-family: $font-PTSans;
	font-size: 16px;
	font-weight: 400;

	border: 0;
	outline: 0;
}

.input--subscribe {
	height: 40px;
	width: 295px;

	font-size: 14px;
	color: $color-third;
}

.select {
	height: 50px;
	width: 80px;
	padding: 0;

	font-family: $font-PTSans;
	font-size: 16px;
	font-weight: 400;

	border: 0;
	outline: 0;
}
