/* Grid
=================================== */
@use 'sass:math';

.container {
	width: 100%;
	height: 100%;
	max-width: $grid-width;
	margin: 0 auto;
	padding: 0 $gutter;
}

.row {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter;
	margin-right: -$gutter;
}

.align-items-start {
	align-items: flex-start !important;
}

.align-items-center {
	align-items: center !important;
}

.justify-content-center {
	justify-content: center !important;
}

.md-display-none {
	@media #{$breakpoint-768} {
		display: none;
	}
}

@for $i from 1 to $columns + 1 {
	.col-#{$i} {
		width: math.div($i, $columns) * 100%;
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

@media screen and (max-width: 992px) {
	@for $i from 1 to $columns + 1 {
		.col-lg-#{$i} {
			width: math.div($i, $columns) * 100%;
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}

	.lg-order-1 {
		order: 1;
	}
	.lg-order-2 {
		order: 2;
	}
	.lg-order-3 {
		order: 3;
	}
	.lg-order-4 {
		order: 4;
	}
}

@media screen and (max-width: 768px) {
	@for $i from 1 to $columns + 1 {
		.col-md-#{$i} {
			width: math.div($i, $columns) * 100%;
			padding-left: $gutterx;
			padding-right: $gutter;
		}
	}
}

@media screen and (max-width: 576px) {
	@for $i from 1 to $columns + 1 {
		.col-sm-#{$i} {
			width: math.div($i, $columns) * 100%;
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
}

@media screen and (max-width: 400px) {
	@for $i from 1 to $columns + 1 {
		.col-xs-#{$i} {
			width: math.div($i, $columns) * 100%;
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
}
