/* Hosting-main-features
============================== */
.hosting-main-features {
	width: 100%;

	background-color: #2b2f37;
}

.hosting-main-features__item {
	width: 100%;
	max-width: 313px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	transition: background 0.2s linear;

	&:hover {
		background-color: #272b33;
	}

	@media #{$breakpoint-576} {
		padding: 30px 0;
	}
}

.hosting-main-features__title {
	margin-top: 40px;
	margin-bottom: 17px;

	font-family: $font-Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.1;
	color: $color-primary;
	text-align: center;
	text-transform: uppercase;

	@media #{$breakpoint-992} {
		font-size: 16px;
	}
}
.hosting-main-features__text {
	margin-bottom: 30px;

	font-family: $font-PTSans;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	color: #6f798c;
	text-align: center;

	@media #{$breakpoint-992} {
		font-size: 14px;
	}
}

.hosting-main-features__img {
	height: 49px;
}

.hosting-main-features__read-more {
	font-family: $font-PTSans;
	font-size: 12px;
	font-weight: 700;
	color: $color-secondary;
	text-align: center;
	text-transform: uppercase;

	transition: color 0.2s linear;

	&:hover {
		color: $color-primary;
	}
}
