.plan-item {
	margin-bottom: 50px;

	color: #2c3039;
	text-align: center;

	border: 1px solid rgba(#bebebe, 50%);
}

.plan-item--small {
	max-width: 235px;
}

.plan-item--right {
	@media #{$breakpoint-768} {
		margin-left: auto;
		margin-right: auto;
	}
}

.plan-item--left {
	margin-left: auto;

	@media #{$breakpoint-576} {
		margin-left: auto;
		margin-right: auto;
	}
}

.plan-item--middle {
	max-width: 314px;

	@media #{$breakpoint-576} {
		margin-left: auto;
		margin-right: auto;
	}
}

.plan-item__title {
	margin-bottom: 5px;

	font-family: $font-Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 0.9;
	text-transform: uppercase;
}
.plan-item__description {
	position: relative;

	font-family: $font-PTSans;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;

	&::after {
		content: '';
		width: 80%;
		height: 1px;

		background-color: rgba(#bebebe, 50%);

		position: absolute;
		left: 10%;
		bottom: -15px;
		z-index: 1;
	}
}
.plan-item__price {
	margin-bottom: 30px;

	font-family: $font-Roboto;
	font-size: 50px;
	font-weight: 700;
	line-height: 0.4;
	color: #000;

	span {
		font-size: 12px;
		text-transform: uppercase;
	}

	sup {
		font-size: 25px;
	}
}
.plan-item__option {
	font-family: $font-PTSans;
	font-size: 14px;
	font-weight: 700;
	line-height: 2.1;

	span {
		font-weight: 400;
		color: #5e5e5e;
	}
}

.plan-item__header,
.plan-item__body {
	background-color: #fff;
}

.plan-item__header {
	padding: 25px 10px 15px;
}

.plan-item__body {
	padding-top: 30px;
}

.plan-item__header--dark {
	color: $color-primary;

	background-color: $color-secondary;
}

.plan-item__body--dark {
	color: $color-primary;

	background-color: #2c3039;

	& span,
	& sup,
	& .plan-item__price {
		color: $color-primary;
	}
}
