.plan {
	width: 100%;

	background-color: $color-primary;
}

.plan__title {
	margin-top: 80px;
	margin-bottom: 20px;

	@include sectionTitle;
}
.plan__text {
	margin-bottom: 40px;

	@include PTSans(16px, 400, 1.25, #000);
	text-align: center;
}

.plan__link {
	color: #e74c3c;

	transition: color 0.2s linear;

	&:hover {
		color: darken(#e74c3c, 20%);
	}
}
