.testimonials {
	width: 100%;
	padding: 45px 0;

	& .slick-dots {
		display: flex;
		justify-content: center;

		width: 100%;
		margin: 0;
		padding: 0;

		list-style: none;

		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;

		button {
			width: 15px;
			height: 15px;
			padding: 0;

			background: #ececee;
			border-radius: 50%;
			border: 0;
			cursor: pointer;

			font-size: 0;
			color: transparent;
		}

		& .slick-active button {
			background: $color-third;
			border: 3px solid #ececee;
		}

		li {
			margin: 0 10px;
		}
	}
}

.testimonials__slider {
	height: 327px;
	overflow: hidden;

	background: $color-primary;

	&.slick-initialized {
		height: auto;
	}
}

.testimonials__item {
	background-color: #fff;
}

.testimonials__title {
	margin-bottom: 20px;

	font-family: $font-Roboto;
	font-size: 40px;
	font-weight: 300;
	line-height: 0.75;
	color: #000;
	text-align: center;
}
.testimonials__subtitle {
	margin-bottom: 40px;

	@include PTSans(16px, 400, 1.9, #000);
	text-align: center;
}

.testimonials__logo {
	display: block;
	margin: 0 auto 35px;
}
.testimonials__text {
	max-width: 755px;
	margin: 0 auto 25px;

	@include PTSans(16px, 400, 1.5, #000);
	text-align: center;
}
.testimonials__img {
	display: block;
	margin: 0 auto 25px;
	width: 80px;
	height: 80px;

	border-radius: 50%;
}
.testimonials__author {
	margin-bottom: 50px;

	@include PTSans(12px, 400, 1.6, #5e5e5e);
	text-align: center;
}
